*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
*.jpeg.webp filter=lfs diff=lfs merge=lfs -text
*.jpg.webp filter=lfs diff=lfs merge=lfs -text
